.headerContainer {
    display: flex;
    position: sticky;
    z-index: 1001;
    top: 0;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: #fff;
}

.headerContainer > div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    -webkit-text-stroke-width: medium;
    color: darkblue;
}

.headerContainer > div > a:hover {
    color: blue;
}

.headerContainer > div > a {
    color: #6c757d;
}

.restaurant-hearer {
    font-family: ui-sans-serif;
    color: #52585d;
}

.footer {
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 45px !important;
}

.pointer {
    cursor: pointer;
    color: gray;
}
.pointer:hover {
    color: #0d6efd;
}

a {
    text-decoration: none !important;
}

.deleteButton {
    color: red;
}

.deleteButton:active {
    transform: scale(2, 2);
}

.updateButton:active {
    transform: scale(2, 2);
}

.modal-close-button {
    border-radius: 50%;
    position: absolute;
    right: -7px;
    top: -7px;
}

.value-change-container {
    display: flex;
    float: left;
}

.value-change-input {
    align-items: center;
    justify-content: center;
    width: 6vh;
}

.cart-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-icon-container > * {
    margin: 2px;
}

.product-item:hover {
    transform: translateY(-4px)
}

.product-info {
    position: relative;
    left: 2vh;
}

.pointer {
    cursor: pointer;
}

.registration-success {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-body {
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
    height: 55vh;
    background-color: white;
}

.pagination {
    display: inline-flex;
    padding-left: 0;
    list-style: none;
}

.pagination > li {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid darkgray;
    border-radius: 3px;
    padding: 2px;
    font-size: large;
    min-height: 4vh;
    min-width: 4vh;
    color: #6c757d;
}

.previous-page {
    margin-right: 20px;
    border-radius: 1px;
}

.next-page {
    margin-left: 20px;
    border-radius: 1px;
}

.active-page {
    background-color: #6c757d;
    color: white !important;
}

